
<div class="flex flex-wrap mt-20 h-screen">
    <div class="releases-calendar   bg-gray-700 border-solid  rounded-lg w-1/4 ml-4 text-center">
        
        <h1 style="font-family: poppins;" class="place-content-center text-gray-400 text-lg mt-3" >Proxy Groups</h1>
    
        <ng-container *ngFor = "let group of proxyGroups">

            <div (click) = "change(group.name)"  class="  border-solid  rounded-md bg-black border-4 border-cyan-400  my-10 flex flex-col mx-4 ">
        
                <div class="flex flex-wrap">
                <h1 style="font-family: poppins;"  class="text-cyan-50 mx-10 my-4">{{group.name}}</h1>
                <h1 style="font-family: poppins;"  class="text-gray-400  my-4 ml-32">( {{group. proxyObjects.length}} )</h1>
           
           
            </div>
            </div>

            </ng-container>
  
    
        
    </div>
    
    
    <div  class="ml-10  bg-gray-700 border-solid  rounded-lg w-2/3">
      
        <h1 class="text-center text-xl text-gray-400 mt-2 ">{{idSite}}</h1>
        <div>
<div
    class=" float-right border-solid rounded-md bg-red-400 border-red-400 border-2 mt-3 mr-3 hover:bg-gray-700 hover:border-gray-700">
    <button style="font-family: poppins;" id="taskCreator" class="p-1 text-cyan-50">Clear Proxies List</button>
</div>
<div
    class=" float-right border-solid rounded-md bg-emerald-400 border-emerald-400 border-2 mt-3 mr-3 hover:bg-gray-700 hover:border-gray-700">
    <button style="font-family: poppins;" id="taskCreator" class="p-1 text-cyan-50" (click)="open(content)">Add Proxies</button>
</div>
        
      
        <div class=" grid grid-flow-col grid-cols-4 gap-x-48 ml-10 w-max mb-3">
            <h2 style="font-family: poppins;" class="mt-4 text-gray-400 ">Adress</h2>
            <h2 style="font-family: poppins;" class="mt-4 text-gray-400 ">Login</h2>
            <h2 style="font-family: poppins;" class="mt-4  text-gray-400 ">Port</h2>
            <h2 style="font-family: poppins;" class="mt-4 text-gray-400 ">Status</h2>
        </div>
        

        

        <div class="task_container">
            
            <ng-container *ngFor="let group of proxyGroups">
               
                <ng-container *ngIf="group.proxyObjects.length>0; else blankPage">
                
            <ng-container *ngFor = "let proxy of group.proxyObjects">
            
                <div *ngIf="idSite === proxy.proxyGroup" class=" border-solid  rounded-md bg-gray-800 border-4 border-gray-800  my-3 grid grid-flow-col grid-cols-5 gap-x-2 py-2 mx-2">
        
                <h1 style="font-family: poppins;" class="text-gray-400 ml-10">{{proxy.proxy}}</h1>
        
                <h1 style="font-family: poppins;" class="text-gray-400 ml-7 ">{{proxy.login}}</h1>
        
                <h1 style="font-family: poppins;" class="text-gray-400 ml-6 ">{{proxy.port}}</h1>

                <h1 style="font-family: poppins;" class="text-gray-400 ml-4 ">{{proxy.status}}</h1>

           <div class=" mr-5">
               <button><fa-icon class="ml-2 text-cyan-400 mr-10" [icon]="faVial" ></fa-icon></button> 

               <button><fa-icon class="ml-2 text-red-500 mr-10" [icon]="faTrash" ></fa-icon></button> 
            </div>

        
                </div>

            </ng-container>
        </ng-container>

        <ng-template #blankPage>
            <ng-container *ngIf="group.name===idSite">

            <h1 style="font-family: poppins;" class="text-gray-400 text-center mt-20">Nothing to see here, add some adresses</h1>

        </ng-container>
        </ng-template>


        </ng-container>

       
       


    </div>
    
    
    </div>
    


    <ng-template #content let-modal >
    
        <div class="border-solid  rounded-md border-4 border-cyan-400 bg-gray-800">
    
            <div class="flex flex-wrap  mb-4 mt-4">
    
                <fa-icon class="text-lg mr-2 ml-36 text-emerald-400" [icon]="faPlusCircle"></fa-icon>
    
          <h4  style="font-family: poppins;" class=" text-cyan-50  text-lg mr-32 " >Add Proxy Adresses</h4>
    
          
        </div>
    
        <div>
          <form>
            <div class="mb-3 mt-3">
             
              <div class="ml-32 flex flex-wrap">
              <input style="font-family: poppins;" type="text" id="inputAdressesContent" class="border-solid rounded py-1 px-2 text-center content-center h-40 bg-gray-400 placeholder-gray-500" placeholder="Put adresses here" [(ngModel)]="textProxyInput" name="nameGroup">
              </div>
            </div>
          </form>
        </div>
        
          <button style="font-family: poppins;"  type="button" class=" text-cyan-50 rounded px-3 py-2 bg-indigo-400 hover:bg-indigo-700 ml-52 mb-3 mt-3"  (click)="modal.close('Save click')" (click)="convertAdresInput(textProxyInput)">Save</button>
      
    </div>
      </ng-template>
      
      <pre>{{ closeResult }}</pre>
    